[Unit]
Description=Boom server service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/nodejs /var/git/boom/index.js
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
